doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/style.css")
    title Drawing Game
  body 
    form.loginForm.hidden(method="GET") 
      input(type="text" class="loginInput" placeholder="What's your Nickname?")
      input(type="submit" class="loginButton" value="Join")
    
    .container.hidden
      h1 You are logged in

    script(src="/socket.io/socket.io.js")
    script(src="js/index.js")
    script(src="js/main.js")