doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/style.css")
    title Drawing Game
  body 
    form.loginForm.hidden
      input(type="text" class="loginInput" placeholder="닉네임을 설정하세요.")
      input(type="submit" class="loginButton" value="입장")
    
    .container.hidden
      .chatContainer
        ul.chatList
        form.chatForm
          input(type="text" placeholder="메세지를 입력하세요.") 
          button(type="submit" class="sendMessageButton") 메세지 전송

    .notification

    script(src="/socket.io/socket.io.js")
    script(src="js/client.js")
    script(src="js/main.js")
    script(src="js/login.js")
    script(src="js/notification.js")