@import url("reset.css");

body{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.loginForm.hidden,
.container.hidden{
  display: none;
}

.notification div{
  position:absolute;
  bottom:30px;
  left: 30px;
  color:white;
  padding: 13px 30px;
  border-radius: 20px;
  font-size: 20px;
}

.chatContainer{
  /* border:3px solid red; */
}

.chatList{
  height:50vh;
  background-color: #f5f5f5;
}