@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
@import url("reset.css");
@import url("login.css");
@import url("notification.css");
@import url("chat.css");
@import url("paint.css");

.container.hidden,
.loginForm.hidden,
.chatContent.hidden{
  display: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f6f9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Jua", sans-serif;
  background: url("../images/background.jpeg") no-repeat center center;
  background-size: cover;
  position: relative;
  height: 100vh;
}
.container {
  display: flex;
  margin-top: 90px;
  justify-content: space-between;
}